main {
    font-size: 25px;
}

.btnProgram {
    margin-bottom: 10px;
    text-align: center;
}

.btn-lang {
    margin: 8px;
    padding: 15px;
    background: #efdf99;
    border-radius: 15px;
}

.btn-lang.active {
    color: white;
    background-color: rgb(162, 73, 244);
}

.text-language {
    margin: 10px 500px;
    padding: 20px;
    background-color: rgb(162, 73, 244);
    color: white;
    border-radius: 15px;
}